{% extends 'transaction/layout.html.twig' %}

{% block title 'Show Sample Material Outgoing Detail' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Quantity</th>
                <td>{{ sampleMaterialOutgoingDetail.quantity|default }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
